@import 'src/assets/styles/vars.sass'

.btn 
    &s
        +flex(flex, center, center, nowrap)
        gap: 20px

    a, input, &_v1
        +flex(inline-flex, center, center, nowrap)
        min-width: 158px
        padding: 13px 20px
        border-radius: 10px
        border: none
        background: $grad2
        color: $white
        cursor: pointer
        text-align: center
        +ft(14, 21, 500, $ffHeading)
        letter-spacing: 0.1em

        &:hover, &:active, &:focus
            box-shadow: $bxsd1

        &[disabled]
            opacity: 0.5

    &_link
        &, & input
            +flex(inline-flex, center, center, nowrap)
            //min-width: 145px
            +ft(14, 21, 500, $ffHeading)
            color: $text_4
            background: transparent
            border: none
            cursor: pointer
            &:hover, &:active, &:focus
                color: $prurple100

    &_v1 
        min-width: 0
        padding: 10px 25px
        border-radius: 5px
        background: $grad10
        transition: none
        flex: 1

        span
            margin-right: 5px

        &:hover, &:focus, &:active
            background: $grad9
            box-shadow: none

    +maw($xs)
        &, & input, &_link
            width: 100%
        &_v1
            span
                display: none

    +maw($xxs)
        &s
            gap: 10px
            display: grid
            grid-template-columns: 1fr 1fr
            flex: 1

        &_v1
            padding: 2.5vmin 5vmin








































