@import 'src/assets/styles/vars.sass'

.checkbox
    display: none
    +sz(100%, 100%)
    padding: 0
    margin-bottom: 0
    cursor: pointer

    &.error
        display: none
        & + label 
            span
                border-color: $red
        
    & + label 
        position: relative
        +flex(flex, center, flex-start, nowrap)
        +ft(14, 14*1.2, 500)
        letter-spacing: 0.02em
        cursor: pointer
        color: $text_1
        
        a
            color: $main

        span
            position: relative
            +flex(inline-flex, center, center, nowrap)
            +sz(16px, 16px)
            min-width: 16px
            margin-right: 10px
            border: 2px solid $main
            border-radius: 50%
            cursor: pointer

        strong
            color: $main


    &.checked + label 
        b 
            display: block
            +ps(absolute, (t, 0), (b, 0), (l, 0), (r, 0))
            +sz(8px, 8px)
            margin: auto
            border-radius: 50%
            background-color: $main
        span
            border-color: $main

.error
    +flex(flex, center, flex-start, nowrap)
    margin-top: 10px
    +ft(12, 14, 300, $ffText)
    color: $red

    +maw($xxs)
        +ft(10, 10*1.3, 300, $ffText)

    svg
        +sz(14px, 14px)
        min-width: 14px
        margin-right: 10px







































