@import 'src/assets/styles/vars.sass'
    
.tabs
    max-width: calc(100vw - var(--sidebar-width) - 40px)
    width: 100%
    margin: 0 

    &_content
        //max-width: var(--mawTab)
        +theme(dark3)
        border-radius: 0 0 $brs2 $brs2 
        padding: 30px

    &_header
        +flex(flex, flex-start, flex-start, nowrap)
        //max-width: var(--mawTab)
        width: 100%
        margin: 0  
        padding: 0
        gap: 10px

        overflow-x: scroll
        scrollbar-width: none

        &::-webkit-scrollbar 
            //display: none
            width: 0
            height: 0

    &_toggle
        +flex(flex, center, center, nowrap)
        align-self: stretch
        min-height: 40px
        padding: 14px 25px
        //+ft(28, 42, 600, $ffHeading)
        +ft(13, 13, 600, $ffHeading)
        letter-spacing: 0.1em
        white-space: nowrap
        border-radius: $brs2/2 $brs2/2 0 0
        //background-color: $purple3
        //background: $grad8
        background: rgba($grey2, 0.3)
        color: $text_1
        cursor: pointer
        outline: none
        border: none

    :global(.MuiTab-root.Mui-selected)
        opacity: 1
        +theme(dark3)
        //color: $text_2
        color: $purple

    // +maw($xs)
    //     &_header
    //         gap: 15px
    //     &_toggle, :global(.MuiTab-root.Mui-selected)
    //         display: inline-flex
    //         justify-content: flex-start
    //         min-height: 0
    //         padding: 0
    //         margin: 0
    //         text-align: left
    //         text-transform: uppercase
    //         +ft(12, 12, 500)
    //         background: transparent

    //     :global(.MuiTab-root.Mui-selected)
    //         color: $purple
    //         fill: $purple

    //     &_content
    //         margin-top: 15px
    //         border-radius: $brs2
