@import 'src/assets/styles/vars.sass'

.table
    +theme(dark)
    width: 100%
    margin-left: auto
    margin-right: auto
    //border-spacing: 15px
    border-collapse: collapse
    border-radius: var(--brsMd)
    text-align: left

    overflow: hidden
    //box-shadow: $bxsd1

    &:last-of-type
        margin-bottom: 0

    &_wrap
        width: 100%

    &_heading
        display: grid
        grid-template-columns: repeat(5, 1fr)
        gap: var(--gap)
        padding: var(--gapLg)
        +ft(16, 16*1.2, 600)
        letter-spacing: 0.04em
        text-align: center
    
    &_body
        +flex(flex, center, center, wrap, column)
        gap: var(--gap)
        padding: var(--gapLg)
        padding-top: 0
        padding-bottom: var(--gap)

    &_row
        display: grid
        grid-template-columns: repeat(5, 1fr)
        align-items: center
        gap: var(--gap)
        padding: var(--gap) var(--gap)
        width: 100%
        text-align: center
        +ft(14, 21, 500, $ffHeading)
        border-radius: 20pc
        transition: $trs

        &:nth-child(odd)
            //background-color: $dark16
            background-color: $dark

        &:hover
            background-color: darken($dark, 2%)

    &_icon
        +flex(inline-flex, center, center, nowrap)
        +sz(33px, 33px)
        min-width: 33px
        margin-right: 12px
        background-color: $main
        border-radius: 50%

    &_title
        +flex(flex, center, flex-start, nowrap)
        width: 100%   
        //gap: 10px
        +ft(16, 16, 600)
        letter-spacing: 0.04em
        color: $main

    &_time, &_sum
        +ft(14, 21, 500, $ffHeading)

    &_date, &_crypto, &_info
        +ft(14, 21, 500, $ffHeading)
    
    &_crypto
        opacity: 0.5

    &_date
        font-size: 80%
        opacity: 0.5

    &_hash
        +ft(14, 14*1.4, 600)
        opacity: 0.5
        word-break: break-all
    
    &_info
        text-align: center

    &_caption
        margin: var(--gap) auto var(--gapLg)
        //+ft(32, 32*1.4, 700)
        +ft(16, 16*1.4, 400)
        letter-spacing: 0.06em
        color: $text_8

    &_status
        &.completed, &.up
            color: $green
        &.in-progress
            color: $yellow
        &.declined, &.down
            color: $red

    +maw($md)
        box-shadow: none
        background-color: transparent
        
        &_body
            padding: 0

        &_heading
            display: none
        
        &_row
            display: grid
            gap: var(--gap)
            margin: 0 auto
            padding: var(--gapMd)
            border-radius: var(--brsXs)
            grid-template-columns: 1fr 1fr

            &, &:nth-child(odd)
                background-color: $dark2
           

            & > div
                position: relative
                display: grid
                grid-template-columns: 1fr 2fr 

                max-width: 100% !important
                width: 100%

                &:before
                    content: attr(data-value)
                    +flex(flex, flex-start, flex-start, nowrap)
                    position: relative
                    margin-bottom: 5px
                    text-transform: uppercase
                    color: $main
                
                &, &:last-child, & > *
                    text-align: left

        &_title
            color: $white

        &_icon
            display: none

          
    +maw($sm)
        &_row
            grid-template-columns: 1fr
            gap: var(--gap)

            & > div
                grid-template-columns: 1fr 1fr
                &::before
                    letter-spacing: 0.1em

    +maw($xs)
        &_row
            grid-template-columns: 1fr
           
            & > div
                grid-template-columns: 1fr 
                &::before
                    font-size: 70%
                    letter-spacing: 0.1em
            
  

    