@import 'src/assets/styles/vars.sass'

$h: 45px

.card
    position: relative
    +flex(flex, center, center, nowrap, column)
    gap: var(--gap)
    margin: 0
    padding: var(--gapLg)

    //border-radius: var(--brsMd)
    //background-color: rgba($white, 0.06)
    @extend %card3
    border: 3px solid transparent
    text-align: center

    &:hover
        border-color: $main

    &.active
        border-color: $green

        [class*=btn_bd]
            border-color: $green

        [class*=btn_grad]
            background: $grad15

    &_label
        margin-top: -32px
        padding: var(--gapSm) var(--gap)
        +ft(16, 16, 700)
        letter-spacing: 0.04em
        background: $grad7
        border-radius: 0 0 var(--brsXs) var(--brsXs)

    &_wrap
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        width: 100%
        gap: var(--gap)

    &_title
        +ft(28, 28*1.4, 700)
        letter-spacing: 0.08em
        @extend %text-gradient

    &_btns
        width: 100%
        +flex(flex, center, center, nowrap, column)
        gap: var(--gap)
        margin-top: auto

        & *
            width: 100%
            white-space: pre-wrap

    &_price
        margin: auto
        text-align: center
        &_new
            +flex(flex, flex-end, center, wrap)
            gap: 4px
            margin-bottom: 4px
            row-gap: var(--gapXs)
            +ft(42, 42, 700)
            letter-spacing: 0.08em
            color: $white

            span
                display: inline-block
                font-size: 55%
                letter-spacing: 0.04em
                color: $dark10
        u
            position: relative
            +ft(20, 20*1.4, 500)
            letter-spacing: 0.08em
            color: $dark10
            text-decoration: none
            &::after
                content: ''
                +ps(absolute, (t, 0), (b, 0), (l, 0), (r, 0))
                display: block
                margin: auto
                +sz(100%, 2px)
                background: $red

    +maw($md)
        &_wrap
            grid-template-columns: 1fr 1fr 

        &_title
            +ft(18, 18, 900)

    +maw($sm)
        padding: 10px
        &_wrap
            grid-template-columns: 1fr 

        &_label
            margin-top: -10px
            +ft(12, 12*1.4, 500)

        &_price_new
            span
                width: 100%
                order: -1
                +ft(12, 12, 700)


.form
    width: 100%
    &_cta
        +flex(flex, center, flex-start, wrap)
        gap: var(--gap)
        margin: 0 auto

   

        




