@import 'src/assets/styles/vars.sass'

.ava
    +flex(flex, center, center, nowrap)
    gap: 20px

    &_logo
        +flex(flex, center, center, nowrap)
        +sz(52px, 52px)
        min-width: 52px
        border-radius: 50%
        background-color: $grey

    &_title
        +ft(18, 27, 500, $ffHeading)

    +maw($xxs)
        gap: 10px
        
        &_logo
            +sz(30px, 30px)
            min-width: 30px

        svg
            transform: scale(0.6)