@import 'src/assets/styles/vars.sass'
@import '../modal.module'

.modal
    &_content
        max-width: 464px
        text-align: center
        //border: $bd2
        box-shadow: $bxsd5

    &_icon
        background-image: $grad11
        box-shadow: $bxsd4

