@import 'src/assets/styles/vars.sass'

.modal
    +ps(fixed, (t, 0), (b, 0), (l, 0), (r, 0))
    z-index: 1300
    +flex(flex, center, center, nowrap, column)
    gap: var(--gap)
    background: rgba($black, 0.5)

    &__content
        position: relative
        max-width: 500px
        width: 90%
        margin-left: auto
        margin-right: auto
        padding: 30px
        border-radius: $brs28
        background-color: $dark8
        box-shadow: $bxsd1
        animation: slideInUp 0.75s ease-in-out
  
    &__title
        +ft(24, 24, 700)

    &__text
        margin-bottom: 34px
        margin-top: 22px
        +ft(14, 18, 400)
        color: $text_6

    &__close
        +sz(30px, 30px)

    &__icon
        +flex(flex, center, center, nowrap)
        margin: 0 auto 22px
        +sz(80px, 80px)
        border-radius: 50%
        background-image: $grad11
        box-shadow: $bxsd4

    +maw($xs)
        &__title
            +ft(18, 18, 600)