@import '../../assets/styles/vars.sass'

.products
    +flex(flex, flex-end, space-between, nowrap, column)
    width: 100%
    margin: 0
    @extend %banner
    background: $dark2
    box-shadow: none
    border: 2px solid $main

    &::before
        display: none

    &::after
        display: none

    &:hover
        box-shadow: $bxsd9

    &_cards
        display: grid
        grid-template-columns: 1fr 1fr
        gap: var(--gap)
        width: 100%

    &_content
        position: relative
        padding: var(--gapLg)
        padding-top: 0
        z-index: 1
        +sz(100%, 100%)
        //backdrop-filter: blur(1px)

    &_label
        +ps(absolute, (b, 0), (l, 0))
        +sz(100%, 100%)
        transform: scale(1.1) 
        object-fit: cover

    &_img
        +ps(absolute, (b, 0), (r, 0))
        +sz(100%, 100%)
        object-fit: cover
        //z-index: -1
        //opacity: 0.8
        filter: contrast(1.01)
        &_wrap
            position: relative
            width: 100%
            padding-top: calc(322/530)*100%

            &.disabled
                filter: blur(2px)

            &::after
                content: ''
                +ps(absolute, (t, 0), (l, 0))
                display: block
                +sz(100%, 100%)
                background: linear-gradient(180deg, transparent 50%, $dark2)
                z-index: 1

   
       
    &_title
        margin-top: -24px
        margin-bottom: 4px
        +ft(40, 48, 700)
        letter-spacing: 0.05em
        @extend %text-gradient
        //text-transform: uppercase

    &_subtitle
        +ft(24, 34, 700)

    &_text
        margin-top: var(--gap)
        +ft(14, 20, 500)
        letter-spacing: 0.05em
        color: $dark19

    +maw($sm)
        &_cards
            grid-template-columns: 1fr

    +maw($xs)
        border-radius: var(--brsXs)

        &_content
            padding: 20px

       