.pg
    &__header
        +flex(flex, center, space-between, nowrap)
        width: 100%
        height: var(--headerH)
        gap: var(--gap)
        border-bottom: $bd1

        & > *
            transition: none
            user-select: none

        a
            margin-left: auto
        
        &-cta
            +flex(flex, center, space-between, nowrap)
            gap: 30px
           

        h1
            margin: 0

        +maw(600)
            flex-wrap: wrap
            gap: 15px
            display: grid
            grid-template-columns: 1fr 1fr


            a
                width: 100%
                order: 1
                flex: 1
                grid-column: 1/-1

            h1
                flex: 1
                order: 2
                grid-column: 1/-1
                //width: 100%
                //margin-bottom: 10px	
                
            &-cta
                gap: 10px
                flex: 1
                justify-content: flex-end
                //display: grid
                //grid-template-columns: 1fr
                grid-column: 1/-1

    
    &__footer
        width: 100%
        padding: var(--gap)
        text-align: center

        +ft(10, 10, 400)
        opacity: 0.2

        border-top: 1px solid rgba($white, 0.15)
        
    