body
    overflow: hidden
    overflow-y: auto
    margin: 0
    padding: 0

    & > div
        height: 100%
        +theme(body)

a
    &:hover, &:focus, &:active
        color: inherit

.scrollable
    @extend %scroll

.pg
    &__wrap
        +flex(flex, stretch, flex-start, nowrap,)
        // display: grid
        // grid-template-columns: var(--sidebar-width) 1fr
        height: 100%
        gap: var(--gap)
        padding: var(--gap)

    &__hero
        &-container
            display: grid
            grid-template-columns: 2fr 1fr
            gap: var(--gap)
            

    &__sidebar
        max-width: var(--sidebar-width)
        +sz(100%, 100%)
        min-height: 100vh
        padding-right: 0

        &-content
            +flex(flex, flex-start, flex-start, nowrap, column)
            gap: 22px
            width: 80%
            margin: var(--gap) auto

        &-inner
            +ps(sticky, (t, var(--gap)), (l, 0))
            +flex(flex, flex-start, flex-start, nowrap, column)
            +theme(dark)
            border-radius: $brs10

        &.active // TODO REFACTORING
            min-width: 280px
            border-radius: 0
            z-index: 100500 - 1
            overflow: hidden
            overflow-y: scroll
            @extend %scroll

            .pg__sidebar-inner
                gap: var(--gap)

            [class*=sidebar_nav] 
                span
                    display: block
                a
                    padding: 12px 14px
                
            [class*=logo]
                width: 156px 
                svg
                    width: 156px
                    path:nth-of-type(4)
                        display: block

            +miw($xmd)
                max-width: 75px
                min-width: 0
                [class*=sidebar_nav] 
                    span
                        display: none
                [class*=logo]
                    width: 36px 
                    margin: 0 auto

                    svg
                        width: 36px
                        path:nth-of-type(4)
                            display: none
                .pg__sidebar-inner
                    top: 0

        
        &-logo
            width: 100%
            padding-bottom: var(--gap)
            border-bottom: $bd1
        

        +maw($xmd)
            &.active
                +ps(fixed, (t, 0), (l, 0))
            &-inner
                gap: 0
                padding: 12px 
            &-logo
                border: none
                padding: 0

                

    &__container
        +flex(flex, center, center, nowrap, column)
        +sz(100%, auto)
        gap: var(--gap)
        //max-width: calc(100% - var(--sidebar-width))
        
    &__content
        +flex(flex, center, flex-start, nowrap, column)
        width: 100%
        flex: 1
        gap: 20px

    &__section
        width: 100%
        margin: 0px auto

        &--fh
            flex: 1
            height: auto

        h1, h2, h3, h4, h5, h6
            margin-top: 0
            margin-bottom: 0
            

        &-header
            +flex(flex, center, space-between, wrap)
            width: 100%
            margin-bottom: 32px


.d
    &-none
        display: none
    &-block
        display: block

        
.table
    &__cta
        width: auto
        +flex(flex, center, space-between, nowrap)
        gap: 12px
        color: $main

        &:hover, &:active, &:focus
            color: $white

        +maw(320)
            width: 100%
            margin-top: 10px
            margin-left: auto


.tooltip
    +flex(flex, flex-start, flex-start, nowrap)
    gap: 10px

    svg
        min-width: 20px

    p
        //+ft(16, 16*1.5, 600, $ffHeading)
        +ft(13, 13*1.5, 600, $ffHeading)
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0

   

