body
	overflow: hidden
	overflow-y: auto
	margin: 0
	padding: 0

	& > div
		height: 100%
		+theme(body)

a
	&:hover, &:focus, &:active
		color: inherit

.scrollable
	@extend %scroll

.pg
	&__wrap
		+flex(flex, stretch, flex-start, nowrap,)
		// display: grid
		// grid-template-columns: var(--sidebar-width) 1fr
		height: 100%
		overflow-x: hidden

	&__sidebar
		+theme(dark)
		+flex(flex, flex-start, flex-start, nowrap, column)
		max-width: var(--sidebar-width)
		+sz(100%, 100%)
		min-height: 100vh
		gap: 40px
		padding: 30px 30px 30px

		&.active
			min-width: 280px
			z-index: 100500 - 1
			box-shadow: 0px 0px 20px -5px $black

			.pg__nav span
				display: block

		+maw($xmd)
			padding: 30px 15px
			&.active
				+ps(fixed, (t, 0), (l, 0))

	&__container
		+flex(flex, center, center, nowrap, column)
		+sz(100%, auto)
		//max-width: calc(100% - var(--sidebar-width))
		
	&__content
		+flex(flex, center, flex-start, nowrap, column)
		width: 100%
		flex: 1
		padding: 25px 20px
		padding-top: 0
		gap: 20px

	&__section
		width: 100%
		margin: 0px auto

		h1, h2, h3, h4, h5, h6
			margin-top: 0
			margin-bottom: 0
			color: $text_2

		&-header
			+flex(flex, center, space-between, wrap)
			width: 100%
			margin-bottom: 10px


.d
	&-none
		display: none
	&-block
		display: block

		
.table
	&__cta
		width: auto
		+flex(flex, center, space-between, nowrap)
		gap: 20px

		+maw(320)
			width: 100%
			margin-top: 10px
			margin-left: auto


.tooltip
	+flex(flex, flex-start, flex-start, nowrap)
	gap: 10px

	svg
		min-width: 20px

	p
		//+ft(16, 16*1.5, 600, $ffHeading)
		+ft(13, 13*1.5, 600, $ffHeading)
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0

	&--danger
		color: $red2
	

