%h1
    +ft(24, 24, 700)
%h2
    +ft(24, 24, 700)
    +maw($xs)
        +ft(18, 18, 700)

%h3
    +ft(24, 24, 700)
    +maw($xs)
        +ft(18, 18, 700)
%h4
    +ft(22, 22, 700)
    letter-spacing: 0.02em
    color: $main
%h5
    +ft(22, 22, 700)
%h6
    +ft(22, 22, 700)   

%text
    &--link
        color: inherit
        //+ft(16, 16, 500)
        +ft(14, 14, 500)