h1
    +ft(78, 72, 500, $ffHeading)
h2
    +ft(40, 60, 400, $ffHeading)

p
	+ft(14, 14*1.3, 400, $ffText)

.title
    &--head
        +ft(36, 54, 700, $ffHeading)
        color: $prurple200
    &--title
        +ft(32, 48, 600, $ffHeading)
        //color: $white
	&--subtitle
		+ft(16, 25, 600, $ffHeading)
		&-sm
			+ft(16, 24, 400, $ffHeading)
			color: $text_5
    &--page
        +ft(24, 36, 700, $ffHeading)
    &--block
        +ft(24, 36, 600, $ffHeading)
		color: $text_2
	&--menu
		+ft(18, 27, 500, $ffHeading)
	&--btn
		+ft(14, 21, 500, $ffHeading)
		//color: $white
		&-secondary
			+ft(14, 21, 5000, $ffHeading)
			color: $text_3
		&-link
			+ft(20, 24, 400, $ffText)
			color: $prurple100
	

    