@import vars

:root
	--gap: 20px
	--mawTab: 1030px
	--cardMaw: 320px
	--tabSidebarMaw: 270px
	--sidebar-width: 300px
	+maw($xmd)
		--sidebar-width: 75px
	--hero-sidebar-width: 330px
	+maw($md)
		--hero-sidebar-width: 100%