html, body 
    display: flex
    //height: 100%
    min-height: 100%
    flex: 1
    height: auto
    font-family: $ffText
    scroll-behavior: smooth
    background-color: $dark


body
    display: flex
    flex-direction: column
    &::-webkit-scrollbar
        +sz(10px, 10px)

    &::-webkit-scrollbar-track
        background-color: $black

    &::-webkit-scrollbar-thumb
        background: $black


*
    //user-select: none
    box-sizing: border-box
    //transition: $trs
    &::selection
        background-color: $dark


a
    text-decoration: none
    color: inherit
    &:hover, &:focus
        text-decoration: none

img
    user-select: none

svg
    cursor: pointer	

button, a, input 
    &:hover, &:active, &:focus, &:focus-within
        appearance: none
        outline: none
        box-shadow: none 



/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
    -webkit-box-shadow: 0 0 0 30pc rgba($dark, 0.5) inset !important
    -webkit-background-clip: text !important
    //-webkit-text-fill-color: yellow !important
    transition: none

input:-webkit-autofill 
    -webkit-box-shadow:0 0 0 50pc rgba($dark, 0.5) inset 
    -webkit-text-fill-color: $white
    transition: none
    font-family: $ffText

input:-webkit-autofill:focus 
    -webkit-box-shadow: 0 0 0 50pc rgba($dark, 0.5) inset
    -webkit-text-fill-color: $white
    transition: none
    font-family: $ffText
  

