$black: #000
$white: #fff
$main: #7B46E5

$green: #1DC74C
$green2: #11B617

$yellow: #EDC240

$red: #EA3943
$red2: #E03535
$red3: #DA3030

$magenta: #6833D4


$dark: #12121A
$dark2: #0C0C0E
$dark3: #25252C
$dark5: #14161D
$dark7: #1A1C23
$dark8: #101117
$dark9: #20232C
$dark10: #4C4B5D
$dark11: #0D0E11
$dark12: #22242B
$dark14: #1A1D25


$stroke1: #4D4D4D
$stroke2: #DC3434
$stroke3: #2E2E2E
$stroke4: #2C2C2C


$text_0: #5F5F5F
$text_1: #686868
$text_2: #636363
$text_3: #696969
$text_4: #5D5D5D
$text_5: #4D4D4D
$text_6: #CCCCCC
$text_7: #727272
$text_8: #484848
$text_9: #767676
$text_10: #808080
$text_11: #D7D7D7
$text_12: #B5B5B5


$grad0: linear-gradient(#464DBE, #6530DA, #7136F1)
$grad1: linear-gradient(#0F135A, #6530DA, #763FBF, #7E49F3)
$grad2: linear-gradient(125deg, #464DBE, #6530DA, #7136F1)

$grad3: linear-gradient(90deg, rgba(#FDE02A, 0.1), rgba(#F24072, 0.1))
$grad3_0: linear-gradient(180deg, #FDE02A, #F24072)
$grad4: linear-gradient(90deg, rgba(#00ECFA, 0.1), rgba(#1101FF, 0.1))
$grad4_0: linear-gradient(180deg, #00ECFA, #1101FF)
$grad5: linear-gradient(90deg, rgba(#0302DF, 0.1), rgba(#F53AED, 0.1))
$grad5_0: linear-gradient(180deg, rgba(#0302DF, 1), rgba(#F53AED, 1))
$grad6: linear-gradient(#2F2DE8, #F539E5)
$grad7: linear-gradient(125deg, #312DE7, #8A32E6)
$grad8: linear-gradient(#FB4CDF, #9E56FA)
$grad9: linear-gradient(#E409C1, #6909E4)
$grad10: linear-gradient(#CC09C8, #8809DB)
$grad11: linear-gradient(#BE4646, #DA3059, #E03535)
$grad12: linear-gradient(45deg, #FD9C38, #FD9C38)
$grad13: linear-gradient(#7B46E5, #9F46E5)

$grad14: linear-gradient(90deg, rgba(#1BE72F, 0.1), rgba(#36F683, 0.1))
$grad14_0: linear-gradient(180deg, #1BE72F, #36F683)


$bxsd1: 0 0 0 2px #0F135A, 1px 1px 0 2px $main, 1px 0 0 2px #6530DA, 0 1px 0 2px #763FBF, 1px 0 0 2px #7E49F3
$bxsd2: 0 0 2px 2px rgba($white, 0.2)
$bxsd3: 0 0 10px 2px rgba($main, 0.4)


$bd1: 1px solid rgba($white, 0.06)


$brs10: 10px	
$brs15: 15px	
$brs20: 20px	


$ffHeading: 'Inter'
$ffText: 'Inter'
$ffBack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"


$xlg: 1400
$lg: 1200
$xmd: 1120
$md: 991
$sm: 768
$xsm: 640
$xs: 480
$xxs: 360

$trs: all 0.35s ease-in-out


=ft($fz, $lh: 16, $fw: 400, $ff: null)
    $lh: $lh/$fz
    $fz: $fz/16 + rem
    @if $ff
        $ff: $ff, $ffBack
        font: $fw $fz/$lh $ff 
    @else 
        font-size: $fz
        font-weight: $fw
        line-height: $lh


=theme($theme)
    @if $theme == body
        background-color: $dark
        background-repeat: no-repeat
        color: $white

        a
            color: $white

    @if $theme == dark
        background-color: $dark2
        color: $white

        *::selection
            background-color: rgba($white, 0.1)

    @if $theme == white
        background-color: $white
        color: $balck

    @if $theme == main
        background-color: $main
        color: $white


=sz($w, $h, $max: null, $mah: null)
    width: $w
    height: $h

=flex($fx, $ai: null, $jc: null, $fxw: null, $fxd: null)
    display: $fx
    @if $ai
        align-items: $ai
    @if $jc
        justify-content: $jc
    @if $fxw
        flex-wrap: $fxw
    @if $fxd
        flex-direction: $fxd


// +position(absolute, (t, 0), (r, 0))
=position($ps, $val)
    @each $x in $ps
        @if $x == t
            top: $val

        @if $x == b
            bottom: $val

        @if $x == l
            left: $val

        @if $x == r
            right: $val

=ps($params...)
    position: nth($params, 1)
    @each $par, $val in $params
        @if $par != null and $val != null
            +position($par, $val)

// input +pd((t, 30px), (b, 40px))
=padding($pd, $val)
    @if $pd == t
        padding-top: $val

    @if $pd == b
        padding-bottom: $val

    @if $pd == l
        padding-left: $val

    @if $pd == r
        padding-right: $val

    @if $pd == all
        padding: $val

=pd($params...)
    @each $par, $val in $params
        @if $par != null and $val != null
            +padding($par, $val)

    
=margin($mg, $val)
    @if $mg == t
        margin-top: $val

    @if $mg == b
        margin-bottom: $val

    @if $mg == l
        margin-left: $val

    @if $mg == r
        margin-right: $val

    @if $mg == all
        margin: $val

=mg($params...)
    @each $par, $val in $params
        @if $par != null and $val != null
            +margin($par, $val)

// =sp($prop, $params...)
// 	@if $prop == mg
// 		+mg($params)
// 	@if $prop == pd 
// 		+pd($params)	

$i: 0
=spacer($arr)
    @for $val from 1 through length($arr) 
        $spr: nth($arr, 1)
    @if $spr == mg
        @for $i from 2 through length($arr)
            $props: nth($arr, $i)
            +margin($props...)
    @if $spr == pd
        @for $i from 2 through length($arr)
            $props: nth($arr, $i)
            +padding($props...)
    
=sp($x, $y)
    +spacer($x)
    +spacer($y)
        
    
//+sp((mg, (l, 20px), (b, 15px)), (pd, (r, 10px)))

    
=maw($brkp)
    @media only screen and (max-width: $brkp+"px")
        @content


=miw($brkp)
    @media only screen and (min-width: $brkp+"px")
        @content

=mw($min, $max)
    @media only screen and (min-width: $min+"px") and (max-width: $max+"px")
        @content


@function rem($val)
    $res: $val/16 + rem
    @return $res

@function em($val)
    $res: $val/16 + em
    @return $res 



//  font-size: calc([minfz] + ([maxfz] - [minfz]) * ((100vw - [miw]) / ([maw] - [miw])));
    
=rfz($maw, $miw, $minfz, $maxfz)
    $maw : $maw + px
    $miw : $miw + px
    $minfz : $minfz + px
    $maxfz : $maxfz + px	
    @media only screen and (min-width: $miw) 
        font-size: calc(#{$minfz} + (#{$maxfz} - #{$minfz}) * ((100vw - #{$miw}) / (#{$maw} - #{$miw})))

    @media only screen and (min-width: $maw)
        font-size: $maxfz
    
// +rfz(1120, 320, 12, 40)

%scroll
    &::-webkit-scrollbar
        +sz(10px, 10px)

    &::-webkit-scrollbar-track

    &::-webkit-scrollbar-thumb
        border-radius: 20pc
        

%card
    width: 100%
    margin: 10px auto
    padding: var(--gapMd)
    +theme(dark)
    border-radius: $brs20
    box-shadow: $bxsd1
    background-repeat: no-repeat
    background-size: cover
    color: $white
    overflow: hidden

@keyframes slideInUp 
    0%
        transform: translateY(50px)
    50%
        transform: translateY(0)
